*{
    font-family: Arial, Helvetica, sans-serif;
    background-color: bisque;
    font-size: 16px;
}

.sangriaimg img{
    max-width: 60%;
    height: auto;
}

.sangriaimg{
    text-align: center;
}

.header.main{
    font-weight: bolder;
    font-size: 48px;
    text-align: left;
}

.header.sub{
    font-weight: 300;
    font-size: 32px;
    text-decoration: underline;
    padding-bottom: 0px;
    text-align: left;
}

#desc{
    font-size: 20px;
}

.list{
    font-size: 16px;
    padding-bottom: 5px;
}

.list.item{
    padding-bottom: 8px;
}