*{
    font-family: Arial, Helvetica, sans-serif;
}

.chef{
    text-align: center;
}

.chef img{
    height: auto;
    max-width: 30%;
}

.Header_One{
    color: black;
    font-size: 64px;
    text-align: center;
}