*{
    font-family: Arial, Helvetica, sans-serif;
    background-color: bisque;
    font-size: 16px;
}

.kabobimage img{
    height: auto;
    max-width: 70%;
}

.kabobimage{
    text-align: center;
}

.header.main{
    font-weight: bolder;
    font-size: 48px;
}

.header.sub{
    font-weight: 300;
    font-size: 32px;
    text-decoration: underline;
    padding-bottom: 0px;
}

#desc{
    font-size: 20px;
}

.list{
    font-size: 16px;
    padding-bottom: 5px;
}

.list.item{
    padding-bottom: 8px;
}

.section{
    padding-bottom: 20px;
}

.buttoncontainer{
    text-align: center;
    padding-top: 40px;
}

.button{
    background-color: bisque;
    color: black;
    border: 2px solid black;
    padding: 15px 25px;
    font-size: 24px;
    border-radius: 8px;
}

.button:hover{
    background-color: white;
}

.spacer{
    padding: 40px;
}